name: e2ee-chat
services:
  e2ee-chat-db:
    image: postgres:16-alpine
    container_name: e2ee-chat-db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: chat
    ports:
      - "5432:5432"

  redis:
    image: redis:7.2-alpine
    container_name: redis_cache
    restart: always
    ports:
      - "6379:6379"
    command: >
      redis-server 
      --requirepass password
      --appendonly yes
      --maxmemory 512mb
      --maxmemory-policy allkeys-lru